.lab1 {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lab1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sp1 {
  transform: rotate(45deg);
  border: #785A28 solid 3px;
}

.sp1:after {
  content: "";
  position: absolute;
  display: none;
}

.lab1 input:checked~.sp1:after {
  display: block;
}

.lab1 .sp1:after {
  left: 3px;
  top: 3px;
  width: 8px;
  height: 8px;
  background-color:#C8AA6E ;

}

.divConcave{
  clip-path: url(#concaveCorners);
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #0ac4b7;
  border-right: 5px solid transparent;
  box-sizing: border-box;
  z-index: 10;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}